/*Slider*/
.slider__slide-title {
  text-align: center;
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  color: #264340;
}
.slider__slide-text {
  display: block;
  font-size: 24px;
  text-align: center;
  color: #264340;
}
/*Paragraph-image*/
.paragraph-image__title {
  font-size: 32px;
  display: block;
  margin-bottom: 10px;
  color: #264340;
}
.button.paragrap-image__button a {
  color: #264340;
  border: 1px solid #264340;
  padding: 10px;
  display: inline-block;
}
.smallcaps-titles {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.titles {
  font-size: 48px;
}
.big-text {
  font-size: 36px;
}
.introduction {
  font-size: 32px;
}
.caption {
  font-size: 16px;
}
.text-list {
  display: list-item;
  list-style: disc;
  list-style-position: outside;
  margin-left: 1.5rem;
}
