@model ourservers.io.Controllers.PageController.PageControllerViewModel
@{
    var path = hostingEnvironment.EnvironmentName.ToLowerInvariant();
}
@Html.React("Components.Hello", new
{
    compiler = "compiler",
    framework = "romain"
})

@section Scripts
{
    <div data-require="@Url.Content($"/build/{path}/hello.bundle.js")"></div>  
}
@section Styles
{
    <link rel="stylesheet" href="@Url.Content($"/build/{path}/hello.bundle.css")"></link>   
}

<!-- 
@await Component.InvokeAsync(Model.Header.ComponentName, Model.Header.WithModifiers("container__header"))
<div class="container__scroll">
    <div class="page__content">
        @await Component.InvokeAsync(Model.Menu.ComponentName, Model.Menu.WithModifiers("page__menu"))
    </div>
</div> -->
